.App {
    text-align: center;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
}

.clear { clear:both; }

.header {
    padding-top:0%;
    width:100%;
    background-color:rgb(75,76,77);
}

.topLine {
    background-color:rgb(167,198,228);
    width:100%;
    height:5px;
}

.menu {
    background-color:rgb(167,198,228);
    height:5%;
}

.menuItem {
    # margin-left:1%;
    margin-right:1%;
}

.menuItem a {
    #color:black;
    color: rgb(172,86,0);
    text-decoration:none;

}


.logo {
    float:left;
    align:center;
    margin-left:5%;
    width:30%;
    height:70%;
}

.logo img {
    width: 100%;
    overflow:hidden;
}

.contactInfo {
    color:white;
    text-align:right;
    float:right;
    margin-right:3%;
    padding-top:3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}

.contactInfo a {
  text-decoration:none;
  color:white;
}

.homePage {
    margin-left: 0%;
    margin-right:0%;
    width:100%;
    background-color:white;
}

.homePage img {
  position: relative;
  width: 100%;
  filter: brightness(70%);
}

.homeText {
   position: absolute;
   left: 2%;
   width:40%;
   font-size: 2.7vw;
   font-weight: bold;
   color: rgb(167,198,228);
   text-align:left;
}

.homeTextTop {
}
.homeTextBottom {
}

.bodyText {
    font-size:100%;
    padding-top:2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align:left;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutPage {
    font-family: Arial, Helvetica, sans-serif;
}

.aboutTop {
  text-align: center;
  font-size: 200%;
}

.aboutPage img {
  width: 100%;
}

.aboutMid {

}

.creds {
  font-size:70%;
}

.aboutBottom {
   float: left;
   width:100%;
   text-align:left;
   margin-left: 5%;
   margin-right: 5%;
}


.goalsPage {
       font-family: Arial, Helvetica, sans-serif;
}

.goalsPage img {
    width: 40%;
}

.goalsText {
    font-size:100%;
    padding-top:2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align:left;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;

}

.servicesPage {
        font-family: Arial, Helvetica, sans-serif;
}

.servicesPage table {
    # border: 1px solid black;
    # border-style:solid;
    # border-size: 1px;
    # border-collapse: collapse;
    padding:25px;
    # width:50%;
    vertical-align: center;
}

.servicesPage td {
    # border: 1px solid black;
    # border-style:solid;
    # border-size: 1px;
    # border-collapse: collapse;
    padding:10px;
    # width:50%;
    vertical-align: center;
}

.servicesImage {
    width: 2%;
}

.servicesTitle {
    font-size:125%;
    text-align: center;
    font-weight: bold;
}

.servicesText {
    font-size:100%;
    text-align: left;
   # font-family: Archivo,Arial;
   # font-family: FiraSans,Helvetica,sans-serif;
   # font-family: Playfair,Helvetica,sans-serif;
     font-family: Arial, Helvetica, sans-serif;

}


.oddRow  {
    background-color:rgb(125,255,255);
    # padding-top:1px;
    # padding-bottom:5px;
    # width:50%;
}

.evenRow  {
    background-color:rgb(255,255,190);
    # padding-top:1px;
    # padding-bottom:5px;
    # width:50%;
}

.footer {
    width:100%;
    height:7%;
    # position: absolute;
    # right: 0;
    bottom: 2%;
    # left: 0;
    # border-style: solid;

}

.footer table {
    # border-style: solid;
    width:100%;
}

.footer td {
   # border-style: solid;
   # border-color: #ff0000 #0000ff;
    width:15%;
}

.footer img {
  height: 50px;
  # width:5%;
}
