.App {
  text-align: center;
}

.clear { clear:both; }

.header {
    padding-top:5%;
    width:100%;
    # background-color:rgb(200,191,231);
    background-color:rgb(254,130,54);
}

.menu {
    background-color:grey;
}

.menuItem {
    margin-left:2%;
    margin-right:2%;
}

.menuItem a {
    color:black;
}


.logo {
    float:left;
    align:center;
    margin-left:5%;
    # border-style:solid;
    width:30%;
}

.logo img {
 height: auto;
 width: 100%;
 overflow:hidden;
}

.contactInfo {
    text-align:right;
    float:right;
    margin-right:5%;
    padding-top:5%;
    align:center;
    # border:10px;
    # border-style: solid;
    # width:25%;
    # border-width: 1px;
}

.homeLeft {
    float:left;
    width:60%;
}

.homeRight {
    margin-right:5%;
}
.homeRight img {
    margin-right:5%;
    float:right;
    width:35%;
    height:auto;
}
.bodyText {
    padding-top:2%;
    margin-left: 5%;
    # margin-right: 5%;
    text-align:left;
    align:center;
    background-color:white;
}

.services {
align:center;
}

.services table {
# border-style:solid;
# border-collapse: collapse;
padding:25px;
width:50%;
}

.oddRow  {
background-color:rgb(125,255,255);
# padding-top:1px;
# padding-bottom:5px;
# width:50%;
}

.evenRow  {
background-color:rgb(255,255,190);
# padding-top:1px;
# padding-bottom:5px;
# width:50%;
}
